@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body{
  background-image: url('./assets/images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-widrh:576px) {
  body{
  background-image: url('./assets/images/bg-header-mobile.png');

}
}